    {% extends 'base.html'%}
    {% load static %}
    {% load crispy_forms_tags %}
    {% block content %}
    <div class="container jumbo-trone text-white text-center">
    <div class="article-entry">
        <img src="/{{object.image_news}}" width="300em">
        <h2>{{ object.title }}</h2>
        <p>создана: {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body }}</p>
    </div>
    {% if user.is_authenticated and user.is_superuser %}
    <p><a href="{% url 'news_edit' news.pk%}">Редактирование</a> | <a href="{% url 'news_delete' news.pk%}">Удаление</a></p>
    {% endif %}
    <div class="card-footer text-center">
        <p>Вернуться <a href="{% url 'news_list' %}">назад</a>.</p>
        {% if user.is_authenticated %}
        <div class="container jumbo-trone text-white text-center py-3">
            <h1>Новый комментарий</h1>
            <form method="post">
                {% csrf_token %}
                <textarea required class="form-control forms_class text_area_forms_class" cols="50" rows="10" name="comment"></textarea>
             <button class="btn btn-info m-2" type="submit">Сохранить</button>
            </form>
        </div>
        {% else %}
        <p><a href="{% url 'login' %}">Aвторизируетесь</a> на сайты чтобы оставлять комментарии под новостью</p>
        {% endif %}
        <p>Комментарии</p>
        <div class="container text-white text-start py-2 d-flex flex-column-reverse gap-3">

        {% for comment in news.comments.all %}
        <div class="container jumbo-trone text-white text-start py-2 ">
        <p>
          <span class="font-weight-bold">{{ comment.author }}&middot {{ comment.date_comment }}</span>
          <p>{{ comment }}</p>
        </p>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    {% endblock content %}